<div class="main flex-container">
    <mat-card class="welcome-card">
        <mat-card-header class="card-header flex-container">
            <mat-card-title class="card-title"><h1>Welcome To MyFlix</h1></mat-card-title>
        </mat-card-header>
        <mat-card-actions class="card-actions flex-container">
            <button mat-raised-button color="primary" class="action-button" (click)="openUserRegistrationDialog()">
                Sign Up
            </button>
            <button mat-raised-button color="primary" class="action-button" (click)="openUserLoginDialog()">
                Login
            </button>
        </mat-card-actions>
    </mat-card>
</div>
