<mat-card class="director-card flex-container">
    <mat-card-header class="director-header">
        <mat-card-title class="director-header">
            <h1 class="director-header">{{data.name}}</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <p class="detail-item"> Born on: {{data.birthdate}}</p>
            <p class="detail-item">{{data.bio}}</p>
            <h4 class="detail-item">Movies by this director:</h4>
            <ul *ngFor="let movie of movies">
                <li>{{movie}}</li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>
