$colorPrimary: #3B4252;
$colorSecondary: #81A1C1;
$textColorLight: #D8DEE9;
$textColorDark: #3B4252;

.flex-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    // flex-wrap: wrap;
}

.main {
    background-color: $colorSecondary
}

.login-actions {
    justify-content: flex-end;
    margin-right: 16px;
    padding: 0;
}

.wide {
    width: 100%;
}
