<mat-card class="login-card flex-container">
    <mat-card-header class="login-header">
        <mat-card-title class="login-title"><h2>User Login</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-content">
        <form >
            <mat-form-field>
                <input matInput [(ngModel)]="loginData.username" placeholder="Username" type="text" name="username"
                    required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="loginData.password" type="password" placeholder="Password" name="password"
                    required>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="login-actions">
        <button mat-raised-button (click)="loginUser()" color="primary">
            Log In
        </button>
    </mat-card-actions>
</mat-card>
