<mat-card class="movie-card">
    <mat-card-header class="movie-header flex-container">
        <mat-card-title>
            <h1>{{data.title}}</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <img class="left-image" src={{getImageLink()}}/>
        </div>
        <div>
            <mat-card-subtitle>Director: {{data.director.name}}</mat-card-subtitle>
            <mat-card-subtitle>Genre: {{data.genre.name}}</mat-card-subtitle>
            <mat-card-subtitle>{{data.year}}</mat-card-subtitle>
            <p>{{data.description}}</p>
        </div>
    </mat-card-content>
</mat-card>
