<mat-card>
    <mat-card-header
        style="margin: auto;"
    >
        <mat-card-title
            style="text-align: center;margin-bottom: 10px;"
        >User Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content
        style="margin: auto;"
    >
        <form
            style="margin: auto;text-align: center;"
        >
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.username"
                    placeholder="Username"
                    type="text"
                    name="username"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.password"
                    type="password"
                    placeholder="Password"
                    name="password"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.email"
                    type="text"
                    placeholder="Email"
                    name="email"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.birthdate"
                    type="date"
                    placeholder="Birthdate"
                    name="birthdate"
                >
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions
        style="margin-left: auto;"
    >
        <div 
            style="width: auto;"
        ></div>
        <button
            mat-raised-button
            (click)="registerUser()"
            color="primary"
            style="text-align: right;margin-right: auto;"
        >
            Sign Up
        </button>
    </mat-card-actions>
</mat-card>
