<nav-header></nav-header>
<div class="main flex-container">
    <div class="movie-list">
        <mat-card class="card favorites">
            <mat-card-header>
                <mat-card-title>
                    <h2>Your Favorite Movies</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <div *ngIf="!hasFavorites">
                        <li>You don't have any favorites!</li>
                    </div>
                    <div *ngFor="let movie of favorites; trackBy: movieTrackBy">
                        <li>
                            {{movie.title}}
                            <!-- TODO: get delete to work: currently experiencing a render issue on delete -->
                            <!-- <button mat-button color="primary" class="delete-button" (click)="deleteFavorite(movie._id)">
                                <mat-icon>delete_forever</mat-icon>
                            </button> -->
                        </li>
                    </div>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="user-details">
        <mat-card class="card user-details">
            <mat-card-header>
                <mat-card-title>
                    <h2>Your Details</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userDetails.username" class="detail-input wide" value="{{userDetails.username}}" name="username" type="text" placeholder="Username"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userDetails.email" class="detail-input wide" value="{{userDetails.email}}" name="email" type="text" placeholder="Email"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userDetails.birthdate" class="detail-input wide" value="{{userDetails.birthdate}}" name="birthdate" type="text" placeholder="Birthdate"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userDetails.password" class="detail-input wide" value="" name="password" type="password" placeholder="New Password"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userDetails.confirmPassword" class="detail-input wide" value="" name="confirmPassword" type="password" placeholder="Confirm New Password"/>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="updateUser()">
                    <mat-icon>update</mat-icon>
                    Update My Details
                </button>
                <button mat-raised-button color="warn" (click)="deleteUser()">
                    <mat-icon>delete_forever</mat-icon>
                    Delete my Account
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
